{% extends 'base.html' %}
{% block title %}Empleados{% endblock %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell" style="margin: 25px;">Lista de empleados</h1>
        <form method="GET" class="cell grid-x grid-margin-x"> {% csrf_token %}
            <div class="cell large-7">
                    <input type="text" id="kword" name="kword" placeholder="Buscar empleado">
            </div>
            <div class="cell large-2">
                <button type="submit" class="button">Buscar</button>
            </div>
        </form>
        <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th width="200">ID</th>
                    <th>Nombre</th>
                    <th width="150">Apellido</th>
                    <th width="150">Departamento</th>
                    <th width="150">Acción</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in empleados %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.first_name }}</td>
                        <td>{{ e.last_name }}</td>
                        <td>{{ e.departamento }}</td>
                        <td><a class="button primary" href="{% url 'persona_app:empleado_detalle' e.id %}">Ver</a></td>
                      </tr>  
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="cell">           
            {% if is_paginated %}
                <nav aria-label="Pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="pagination-previous">
                                <a href="?page={{page_obj.previous_page_number}}">Atrás</a>
                            </li>
                        {% endif %}   
                        {% for pagina in paginator.page_range %}     
                            {% ifequal pagina page_obj.number %} 
                                <li class="current"><span class="show-for-sr">Estás en la página</span>{{ pagina }}</li>
                            {% else %}    
                                <li><a href="?page={{ pagina }}" aria-label="{{ pagina }}">{{ pagina }}</a></li>
                            {% endifequal %}                  
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="pagination-next">
                                <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                            </li> 
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}